body {
  background-color: #e0e2e3;
  color: #2f3036;
  font-size: 18px;
}

.jumbotron {
    padding-left: 30px;
    background-color: #024a46;
    color: #e0e2e3;
}

a {
  color: #5c3959;
}

a:hover {
  color: #c1bbc8;
}
